<main class="main">
    <section class="container">
        <section class="main-content">
            <h1 class="big-title">Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz!</span></h1>
            <section class="main-description">
                Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!
            </section>
            <section class="main-button">
                <a href="/signup" class="button">Начать тест</a>
            </section>
        </section>
        <section class="main-image">
            <img src="assets/images/main_image.png" alt="Main image">
        </section>
    </section>
</main>