<header class="header">
    <section class="container">
        <a routerLink="/" class="logo">
            <img src="assets/images/logo.png" alt="logo">
        </a>

        <section class="profile" id="profile">
            <img src="assets/images/profile.png" alt="profile" class="profile-image">
            <section class="profile-info">
                <section class="profile-user" id="profile-user"></section>
                <a routerLink="/logout" class="profile-logout">Выйти</a>
            </section>
        </section>
    </section>
</header>